@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --purple: #928ea7;
    --black: #212121;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #ffb5b5;
}

.item {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px dashed var(--black);
    background-color: var(--purple);
}

.ingredients, .instructions {
    padding-bottom: 0;
}

.title, .subtitle {
    font-size: 2em;
    color: var(--black);
}

.subtitle {
    font-size: 1.5em;
}

a {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #fefefe;
    border: 2px dashed #fefefe;
    background-color: var(--black);
}

p {
    font-size: 16px;
    color: var(--black);
}

ul, ol {
    list-style-position: inside;
}

li {
    font-size: 16px;
    margin-bottom: 20px;
}


/* Desktop Design */
@media screen and (min-width: 1024px) {
    .item {
        width: 30%;
    }

    .title {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 2em;
    }

    a {
        padding: 10px 30px;
        font-size: 18px;
        border: 3px dashed #fefefe;
    }

    p, li {
        font-size: 18px;
    }
}